{% extends "layout.html" %}

{% block title %}Upload File{% endblock %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col">

      <h1>File Uploaded</h1>
      <hr>
      <p>
        Validate the looks correct, below is a sample of 5 rows.
      </p>
      <div class="row">
        <div class="col-md-10">
          {% for table in tables %}
            
            {{ table|safe }}
          {% endfor %}  
        </div>
      </div>
      <hr>
      <form action="{{ url_for('decision_tree', filename=filename) }}", method="POST">
      <div class="form-row">
        <div class="form-group col-md-8">
          <p class="big"> <b> Select Independent Variable </b></p>
          <select class="form-control", id="y", name="y">
	          {% for column in columns %}
	          <option value="{{column}}">{{column}}</option>
	          {% endfor %}
          </select>
          <br>
          <p>
          <label ><b> Classification or Regression? </b></label>
          <select class="form-control", id="reg", name="reg">
	          <option>Classification</option>
	          <option>Regression</option>
          </select>
            <br>
            <label > <b>Select Tree Depth</b> </label>
          <select class="form-control", id="depth", name="depth">
	          {% for d in depths %}
	          <option value="{{d}}">{{d}}</option>
	          {% endfor %}
          </select>
          </p>

        </div>
      </div>
      <button type="submit" class="btn btn-primary"> Submit </button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}