{% extends "layout.html" %}

{% block title %}Upload File{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">

      <h1>Upload a file</h1>
      <hr>
      <p>
        The data file must be either a csv, txt or excel file.  The allowed separators are tab, comma or excel.
        The file can have a header row or no header.
      </p>
      <form action="/uploadfile" method="POST" enctype="multipart/form-data">
        
        <div class="form-row">
          <div class="form-group col-md-6">
              <label for="datasep">File Separator</label>
              <select class="form-control" id="datasep" name="datasep">
                <option>Default select</option>
                <option>CSV</option>
                <option>TXT</option>
                <option>Excel</option>
              </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
              <label for="dataheader">Header Row</label>
              <select class="form-control" id="dataheader" name="dataheader">
                <option>Yes</option>
                <option>No</option>
                
              </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="datafile">Select a file to load</label>
            <input type="file" class="form-control-file" id="datafile" name="datafile"
            accept=".txt, .csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>

      </form>

    </div>
  </div>
</div>

{% endblock content %}