{% extends "layout.html" %}

{% block title %}Results{% endblock %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col">

      <h1>Upload a file</h1>
      <hr>
      <p>
        Below is a sample of the data, with the results of the modeling below.
      </p>
      <div class="row">
        <div class="col-md-10">
          {% for table in tables %}
            
            {{ table|safe }}

            <br>
          {% endfor %}  
        </div>
      </div>
        

    </div>
  </div>
</div>

{% endblock content %}